<div class="pure-u-1 content about">
  <div class="teaser pure-g">
    <div class="pure-u-sm-1-4"><img src="{{site.data.about.logo}}" /></div>
    <div class="pure-u-sm-3-4">
      Welcome to
      <br />
      <span class="highlight"
        >The workshop of <emph>{{site.data.about.title}}</emph> @
        {{site.data.about.conference}}</span
      >
      <br />
      {{site.data.about.date}}, in {{site.data.about.location}} {%if
      site.data.about.room %}, <span>{{site.data.about.room}}</span>
      {% endif %}
      <br />
      {% if site.data.about.contacts.email %}
      <span class="block">
        Contact us at
        <i class="icon fa-solid fa-envelope"></i>
        <a href="mailto:{{site.data.about.contacts.email}}"
          >{{site.data.about.contacts.email}}</a
        >
      </span>
      {% endif %} {% if site.data.about.contacts.twitter %}
      <span class="block">
        <i class="icon fa-solid fa-envelope"></i
        ><a href="mailto:{{site.data.about.contacts.twitter}}"
          >{{site.data.about.contacts.twitter}}</a
        >
      </span>
      {% endif %}
    </div>
  </div>
</div>
<div class="white-background pure-u-1">
  <div class="content summary">
    {% for desc in site.data.about.descs %}
    <h2>{{desc.title}}</h2>
    <p>{{desc.desc | markdownify}}</p>
    {% endfor %}
  </div>
</div>
