<!-- NAME -->
<h1>{{site.data.intro.name}}
 </h1>

<!-- CONTACT -->

<div class="pure-g contact">
  <div class="pure-u-1 pure-u-md-1-2 ">
    {% for add in site.data.intro.address %}
    <span class="block">{{add}}</span>
    {% endfor %}
  </div>
  <div class="pure-u-1 pure-u-md-1-2 ">
    {% if site.data.intro.contacts.phone %}
    <span class="block">
      <i class="icon fa-solid fa-phone"></i>{{site.data.intro.contacts.phone}}
    </span>
    {% endif %} {% if site.data.intro.contacts.email %}
    <span class="block">
      <i class="icon fa-solid fa-envelope"></i
      ><a href="mailto:{{site.data.intro.contacts.email}}"
        >{{site.data.intro.contacts.email}}</a
      >
    </span>
    {% endif %} {% if site.data.intro.contacts.webpage %}
    <span class="block">
      <i class="icon fa-solid fa-globe"></i
      ><a href="{{site.data.intro.contacts.webpage}}"
        >{{site.data.intro.contacts.webpage}}</a
      >
    </span>
    {% endif %} {% if site.data.intro.contacts.twitter %}
    <span class="full-width">
      <i class="icon fa-brands fa-twitter"></i
      ><a href="https://twitter.com/{{site.data.intro.contacts.twitter}}"
        >@{{site.data.intro.contacts.twitter}}</a
      >
    </span>
    {% endif %}
  </div>
</div>

<!-- RESEARCH FOCUS -->

<!--<h3>Research Focus</h3>-->
<!--<div>{{site.data.intro.desc | markdownify}}</div>-->

<!-- Academic Experience -->

<h3>Academic Experience</h3>
{% assign academic_employs = site.data.employments | where: "type", "academic"
%} {% for emp in academic_employs %}
<div class="entry pad-wrapper double">
  <div class="group">
    {{emp.duration.start}}{% if emp.duration.end %}–{{emp.duration.end |
    slice: -2, 2}} {% endif %}
  </div>
  <div class="info">
    <div class="block"><span class="title">{{emp.company}}</span>, {{emp.position}}</div>
    {% if emp.mentors %}
    <div class="block">
      <i
        >with {% for mentor in emp.mentors %}{{mentor}}{% unless forloop.last%},
        {% endunless %} {% endfor %}</i
      >
    </div>
    {% endif %} {% if emp.descriptions %}
    <div class="block">
      {% for desc in emp.descriptions %}
      <div>{{desc | markdownify}}</div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}

<!-- Education -->

<h3>Education</h3>
{% for edu in site.data.educations %}
<div class="entry  pad-wrapper double">
  <div class="group">
    {{edu.duration.start}}{% if edu.duration.end %}–{{edu.duration.end |
    slice: -2, 2}} {% endif %}
  </div>
  <div class="info">
    <div class="block"><span class="title">{{edu.degree}}</span> in <span class="title">{{edu.program}}</span></div>
    <div class="block">{{edu.school}}, {{edu.location}}</div>
    {% if edu.thesis %}
    <div class="block"><i>Thesis:</i> {{edu.thesis}}</div>
    {% endif %} {% if edu.advisor %}
    <div class="block">
      <i>Advisor:</i> {% for advisor in edu.advisor %}{{advisor}}{% unless
      forloop.last%}, {% endunless %} {% endfor %}
    </div>
    {% endif %} {% if edu.committee %}
    <div class="block">
      <i>Committee:</i> {% for committee in edu.committee %}{{committee}}{%
      unless forloop.last%}, {% endunless %} {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}




<!-- Industry Experience -->

<h3>Industry Experience</h3>
{% assign industry_employs = site.data.employments | where: "type", "industry"
%} {% for emp in industry_employs %}
<div class="entry pad-wrapper double">
  <div class="group">
    {{emp.duration.start}}{% if emp.duration.end %}–{{emp.duration.end |
    slice: -2, 2}} {% endif %}
  </div>
  <div class="info">
    <div class="block"><span class="title">{{emp.company}}</span>, {{emp.position}}</div>
    {% if emp.mentors %}
    <div class="block">
      <i
        >with {% for mentor in emp.mentors %}{{mentor}}{% unless forloop.last%},
        {% endunless %} {% endfor %}</i
      >
    </div>
    {% endif %} {% if emp.descriptions %}
    <div class="block">
      {% for desc in emp.descriptions %}
      <div>{{desc | markdownify}}</div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}

<!-- Publications -->

<h3 id="publications">Publications</h3>
<div class="desc">* denotes equal contribution</div>
{% assign type_key = "" %} {% assign pub_idx = 0 %} {% assign pub_types =
site.pubs | sort: "pub_type" | group_by: "pub_type" %} {% for pub_type in
pub_types %}
<h4>{{site.data.pub_types[pub_type.name].name}}</h4>
{% if type_key != site.data.pub_types[pub_type.name].key %} {% assign type_key =
site.data.pub_types[pub_type.name].key %} {% assign pub_idx = 0 %} {% endif %}
{% assign pub_years = pub_type.items | group_by: "year" |reverse %} {% for year
in pub_years %}
<div class="entry">
  <div class="short_group">{{year.name}}</div>
  <div class="info">
    {% assign pubs = year.items | sort: 'venue' %} {% for pub in pubs %} 
    {% assign pdf = 'assets' | append: pub.url | replace:'.html', '.pdf' %} 
    {% assign slides = 'assets' | append: pub.url | replace: '.html', '_slides.pdf' %}
    {% assign poster = 'assets' | append: pub.url | replace: '.html', '_poster.pdf' %}
     {%
    assign new_pub_idx = pub_idx | plus: 1 %}
    <!-- {% assign pub_idx = new_pub_idx %} -->
    <div class="entry publication  pad-wrapper">
      <div class="pub_key">{{type_key}}.{{pub_idx}}</div>
      <div class="pub_info">
        <span class="authors">
          {% for author in pub.authors %}
          <span
            class="{% if author contains 'Tongshuang' %} primary {% endif %}"
            >{{author}}{% unless forloop.last%}, {% endunless %}</span>{% endfor %}.
        </span>
        <span class="title">
          {% if pub.has_pdf %}
          <a href="https://www.cs.cmu.edu{{site.baseurl}}/{{pdf}}">{{pub.title}}</a>{% else %}{{pub.title}}{% endif %}.
        </span>
        <span class="venue_full">{% if pub.venue_full %} In
          <i>{{pub.venue_full}}</i>. {% endif %}</span>
        <div class="venue">
          {{pub.venue}} {{pub.year}}
          <b
            >{% if pub.award %}
            <span class="award">
              <i class="fa-solid fa-trophy"></i>
              {% for award in pub.award %} {{award}}{% unless forloop.last%}, {%
              endunless %}{% endfor %}
            </span>
            {% endif %}</b
          >
        </div>
        <div class="resources">
            {% if pub.has_pdf %}
            <span class="tooltip" content="PDF">
              <a href="{{pdf}}"><i class="fa-solid fa-file-pdf"></i></a>
            </span>
            {% endif %} {% if pub.code %}
            <span class="tooltip" content="Code">
              <a href="{{pub.code}}"><i class="fa-brands fa-github"></i></a>
            </span>
            {% endif %} {% if pub.has_slides %}
            <span class="tooltip" content="Slides">
              <a href="{{slides}}"
                ><i class="fa-solid fa-file-powerpoint"></i
              ></a>
            </span>
            {% endif %}  {% if pub.has_poster %}
            <span class="tooltip" content="Poster">
              <a href="{{poster}}"
                ><i class="fa-solid fa-file-image"></i></i
              ></a>
            </span>
            {% endif %}
          {% if pub.video %}
          <span class="tooltip" content="Demo">
            <a href="{{pub.video}}"><i class="fa-solid fa-circle-play"></i></a>
          </span>
          {% endif %}{% if pub.recording %}
          <span class="tooltip" content="Talk">
            <a href="{{pub.recording}}"><i class="fa-solid fa-video"></i></a>
          </span>
          {% endif %}{% if pub.blog %}
          <span class="tooltip" content="Blog">
            <a href="{{pub.blog}}"><i class="fa-solid fa-newspaper"></i></a>
          </span>
          {% endif %} {% if pub.twitter %}
          <span class="tooltip" content="Tweet">
            <a href="{{pub.twitter}}"><i class="fa-brands fa-twitter"></i></a>
          </span>
          {% endif %}
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endfor %} {% endfor %}


<!-- Publications -->
<h3>SELECTED HONORS AND AWARDS</h3>

{% for award in site.data.awards %}
<div class="entry  pad-wrapper">
  <div class="group">{{award.year}}</div>
  <div class="info">
    <div class="block">
      {{award.name}}
    </div>
    {% if award.desc %}
    <div class="desc">
      {{award.desc}}
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}


<h3>Teaching Experience</h3>

{% assign teach_types =
site.data.teaching | group_by: "type" %}

{% for teach_type in teach_types %}
<h4>{{teach_type.name}}</h4>
{% assign teach_years = teach_type.items | sort: "year" | reverse | group_by: "year" %}
{% for year in teach_years %}
<div class="entry  pad-wrapper">
  <div class="group">{{year.name}}</div>
  <div class="info">
    {% for teach in year.items %}
      <div class="entry-wrapper">
        <div class="block"><span class="title">{{teach.name}}</span>, {{teach.location}}
        </div>
        <div class="desc block">{{teach.desc}}</div>
        </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endfor %}


<h3 id="mentoring">Mentoring Experience</h3>



{% for student_type in site.data.students %}
<h4>{{student_type.type}}</h4>
{% assign student_status =
student_type.students | group_by: "status" %}
{% for status in student_status %}
<div class="entry pad-wrapper">
  <div class="group">{{status.name}}</div>
  <div class="info">
    {% for student in status.items %}
    <div class="entry-wrapper">
        <div class="block"><span class="title">
        {% if student.url %}
        <a href="{{student.url}}">{{student.name}}</a>
        {% else %}
        {{student.name}} 
        {% endif %}
        </span>
         {% if student.affiliation %}
         ({{student.affiliation}}{% if student.coadvisor %}, <i>co-advisor: {{student.coadvisor}}</i>{% endif %}){% endif %}
         </div>
        {% if student.desc %}
        <div class="block">{{student.desc}}</div>
        {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endfor %}



<h3 id="talks">Invited Talks</h3>

{% assign talk_years = site.data.talks | sort: "year" | reverse | group_by: "year"  %}
{% for year in talk_years %}
<div class="entry ">
  <div class="group">{{year.name}}</div>
  <div class="info">
    {% for talk in year.items %}
    {% assign slides_url = 'assets/talks/' | append: talk.slides | append: ".pdf" %}
    <div class="entry-wrapper  pad-wrapper double">
        <div class="title">{% if talk.slides %}
            <span class="tooltip" content="Slides">
              <a href="{{slides_url | relative_url}}"
                >{{talk.name}} <i class="fa-solid fa-file-powerpoint resources"></i
              ></a>
            </span>
            {% else %}
            {{talk.name}}
            {% endif %}</div>
        {% for version in talk.versions %}
        <div class="block">
        
          {% if version.url %}
          <span class="tooltip" content="Recording">
            <a href="{{version.url}}">{{version.name}} <i class="fa-solid fa-video resources"></i></a>
            </span>
          {% else %}
          {{version.name}} 
          {% endif %}
          {% if version.year %}
            ({{version.year}})
          {% endif %}
        </div>
        {% endfor %}
      </div>

    {% endfor %}
  </div>
</div>
{% endfor %}


<h3>Professional Service</h3>
{% for service_type in site.data.services %}

  <h4>{{service_type[0]}}</h4>
  {% if service_type[0] == "Organizing Committees" %}
    {% for service in service_type[1] %}
      <div class="entry pad-wrapper single">
        <div class="group">{{service.year}}</div>
        <div class="info">
        <span class="title">
          {% if service.url %}
          <a href="{{service.url}}">{{service.name}}</a>
          {% else %}
          {{service.name}}
          {% endif %}</span>
          {% if service.desc %}
          ({{service.desc}})
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% elsif service_type[0] == "Community Service" %}
    {% assign service_years = service_type[1] | sort: "year" | reverse | group_by: "year" %}
    {% for year in service_years %}
    <div class="entry">
      <div class="group">{{year.name}}</div>
      <div class="info">
        {% for service in year.items %}
        <div class="pad-wrapper">
          <div><span class="title">{{service.position}}</span>, {{service.name}}</div>
           {% if service.desc %}
            <div class="desc block">{{service.desc}}</div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  {% else %}
    {% assign conf_types = service_type[1] | group_by: "type" %}
    {% for conf_type in conf_types %}
      <div class="entry pad-wrapper">
      <div class="group">{{conf_type.name}}</div>
      <div class="info">
      
        {% for conf in conf_type.items %}
          <span><span class="title">{{conf.name}}</span> {{conf.year}}{% unless forloop.last%}, {%
              endunless %}</span>
        {% endfor %}
        {% assign award_confs = conf_type.items | where: "award", true %}
        {% if award_confs.size > 0 %}
            <div class="award desc block">
              <i class="fa-solid fa-trophy"></i>
              Special recognition for outstanding reviews {% for award in award_confs %} {{award.name}}{% unless forloop.last%}, {%
              endunless %}{% endfor %}
          </div>
        {% endif %}

      </div>
    </div>
    {% endfor %}

  {% endif %}
{% endfor %}


<h3>Media Coverage</h3>


{% assign media_years = site.data.media | sort: "year" | reverse | group_by: "year"  %}

{% for year in media_years %}
<div class="entry">
  <div class="group">{{year.name}}</div>
  <div class="info">
    {% for media in year.items %}
    <div class="pad-wrapper">
      <div class="block">
        {% if media.url %}
        <a href="{{media.url}}">{{media.name}}</a>
        {% else %}
        {{media.name}} 
        {% endif %}
      </div>
      <div class="block">{{media.source}}, {{media.date}}</div>
    </div> 
    {% endfor %}
  </div>
</div>
{% endfor %}