<div class="pure-u-1 content">
  <h2>Organizers</h2>
  <div class="organizers pure-g">
    {% for organizer in site.data.organizers %}
    <div
      id="organizer-{{organizer[0]}}"
      class="pure-u-md-1-3 pure-u-1 organizer"
    >
      <div class="inner">
        <div class="preview">
          <img src="{{organizer[1].avatar | relative_url}}" />
          <div>
            <strong class="name"
              >{{organizer[1].first_name}} {{organizer[1].last_name}}</strong
            >
            <div>{{organizer[1].affiliation}}</div>
          </div>
        </div>

        <div class="text">
          <div class="desc">
            {% if organizer[1].url %}
            <a href="{{organizer[1].url}}"
              ><i class="icon fa-solid fa-globe"></i
            ></a>
            {% endif %} {% if organizer[1].twitter %}
            <a href="{{organizer[1].twitter}}">
              <i class="icon fa-brands fa-twitter"></i
            ></a>
            {% endif %} {{organizer[1].desc | markdownify}}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
