<div class="pure-u-1 content">
  <h2>Schedule</h2>
  <p>
    The workshop will be hosted on {{site.data.about.date}}, in
    {{site.data.about.location}}. Timezone: {{site.data.about.timezone}}
  </p>
  <div class="schedules pure-g">
    {% for session in site.data.schedule %}
    <hr class="solid" />
    <div class="pure-u-1 session">
      {%if session.session != "" %}
      <div class="header">Stories about {{session.session}}</div>
      {% endif %} {% for schedule in session.schedules %}
      <div class="pure-u-1 schedule type-{{schedule.type}}">
        <div class="time">
          {{schedule.start_time | date: ' %R'}} -- {{schedule.end_time | date: '
          %R'}}
        </div>
        <div class="desc">
          {% if schedule.topic %}
          <span class="topic">{{schedule.topic}}.</span>
          {% endif %} {% if schedule.speaker_key %}
          <span class="speaker"
            >By {% if site.data.speakers[schedule.speaker_key] %} {% assign
            speaker = site.data.speakers[schedule.speaker_key] %}

            <a href="#speaker-{{schedule.speaker_key}}">
              {{speaker.speaker_name}}
            </a>
            {% else %} {{schedule.speaker_key}} {% endif %}
          </span>
          {% endif %} {{schedule.title}} {% if schedule.moderator %}
          <span class="moderator">Moderator: {{schedule.moderator}}</span>
          {% endif %}
        </div>
      </div>
      {% if schedule.abstract %}
      <div class="pure-u-1 schedule abstract">
        {{schedule.abstract | markdownify}}
      </div>
      {% endif %} {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
