<div class="themes pure-g">
      {% for theme in site.data.themes.subthemes %}
      <div
        id="theme-{{theme[0]}}"
        class="pure-u-sm-1-3 pure-u-1 theme"
      >
        <div class="inner">
        <a href="#topic-{{ theme[0] }}">
          <img class="img" src="{{theme[1].img | relative_url}}" />
          <div class="text">
            <div class="name">
              <strong>{{theme[1].verb}}</strong>: {{theme[1].name}}
            </div>
            {{theme.desc | markdownify}}
            <div class="desc"><strong>We ask</strong>{{theme[1].question}}</div>
            <div class="desc"><strong>We do</strong>{{theme[1].method}}</div>
          </div>
        </div>
        </a>
      </div>
      {% endfor %}
    </div>