$grad-orange: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0) 0%,
  rgba(204, 82, 0, 0.4) 100%
);

$primary-color: #3b8cc2;

// Black
$black: #000;

// Blue 100
$blue100: #d2e3fc;

// Blue 200
$blue200: #aecbfa;

// Blue 300
$blue300: #8ab4f8;

// Blue 400
$blue400: #669df6;

// Blue 50
$blue50: #e8f0fe;

// Blue 500
$blue500: #4285f4;

// Blue 600
$blue600: #1a73e8;

// Blue 700
$blue700: #1967d2;

// Blue 800
$blue800: #185abc;

// Blue 900
$blue900: #174ea6;

// Cyan 100
$cyan100: #cbf0f8;

// Cyan 200
$cyan200: #a1e4f2;

// Cyan 300
$cyan300: #78d9ec;

// Cyan 400
$cyan400: #4ecde6;

// Cyan 50
$cyan50: #e4f7fb;

// Cyan 500
$cyan500: #24c1e0;

// Cyan 600
$cyan600: #12b5cb;

// Cyan 700
$cyan700: #129eaf;

// Cyan 800
$cyan800: #098591;

// Cyan 900
$cyan900: #007b83;

// Green 100
$green100: #ceead6;

// Green 200
$green200: #a8dab5;

// Green 300
$green300: #81c995;

// Green 400
$green400: #5bb974;

// Green 50
$green50: #e6f4ea;

// Green 500
$green500: #34a853;

// Green 600
$green600: #1e8e3e;

// Green 700
$green700: #188038;

// Green 800
$green800: #137333;

// Green 900
$green900: #0d652d;

// Grey 100
$grey100: #f1f3f4;

// Grey 200
$grey200: #e8eaed;

// Grey 300
$grey300: #dadce0;

// Grey 400
$grey400: #bdc1c6;

// Grey 50
$grey50: #f8f9fa;

// Grey 500
$grey500: #9aa0a6;

// Grey 600
$grey600: #80868b;

// Grey 700
$grey700: #5f6368;

// Grey 800
$grey800: #3c4043;

// Grey 900
$grey900: #202124;

// Orange 100
$orange100: #fedfc8;

// Orange 200
$orange200: #fdc69c;

// Orange 300
$orange300: #fcad70;

// Orange 400
$orange400: #fa903e;

// Orange 50
$orange50: #feefe3;

// Orange 500
$orange500: #fa7b17;

// Orange 600
$orange600: #e8710a;

// Orange 700
$orange700: #d56e0c;

// Orange 800
$orange800: #c26401;

// Orange 900
$orange900: #b06000;

// Pink 100
$pink100: #fdcfe8;

// Pink 200
$pink200: #fba9d6;

// Pink 300
$pink300: #ff8bcb;

// Pink 400
$pink400: #ff63b8;

// Pink 50
$pink50: #fde7f3;

// Pink 500
$pink500: #f539a0;

// Pink 600
$pink600: #d81b60;

// Pink 700
$pink700: #c92786;

// Pink 800
$pink800: #b80672;

// Pink 900
$pink900: #9c166b;

// Purple 100
$purple100: #e9d2fd;

// Purple 200
$purple200: #d7aefb;

// Purple 300
$purple300: #c58af9;

// Purple 400
$purple400: #af5cf7;

// Purple 50
$purple50: #f3e8fd;

// Purple 500
$purple500: #a142f4;

// Purple 600
$purple600: #9334e6;

// Purple 700
$purple700: #8430ce;

// Purple 800
$purple800: #7627bb;

// Purple 900
$purple900: #681da8;

// Red 100
$red100: #fad2cf;

// Red 200
$red200: #f6aea9;

// Red 300
$red300: #f28b82;

// Red 400
$red400: #ee675c;

// Red 50
$red50: #fce8e6;

// Red 500
$red500: #ea4335;

// Red 600
$red600: #d93025;

// Red 700
$red700: #c5221f;

// Red 800
$red800: #b31412;

// Red 900
$red900: #a50e0e;

// White
$white: #fff;

// Yellow 50
$yellow50: #fef7e0;

// Yellow 100
$yellow100: #feefc3;

// Yellow 200
$yellow200: #fde293;

// Yellow 300
$yellow300: #fdd663;

// Yellow 400
$yellow400: #fcc934;

// Yellow 500
$yellow500: #fbbc04;

// Yellow 600
$yellow600: #f9ab00;

// Yellow 700
$yellow700: #f29900;

// Yellow 800
$yellow800: #ea8600;

// Yellow 900
$yellow900: #e37400;

/** Additional colors */
