.schedules {
  .schedule {
    margin-bottom: 15px;
    padding-left: 30px;

    div {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      //font-weight: bolder;
      //color: $primary-color;
    }
    .time {
      font-family: $code-font;
      color: $grey700;
    }
    .topic {
      font-weight: bolder;
    }
    .speaker,
    .moderator {
      font-style: italic;
    }
    &.type-remark {
      background-color: $blue50;
    }
    &.type-talk {
      background-color: white;
    }
    &.type-break {
      background-color: $yellow50;
    }
    &.type-panel {
      background-color: $green50;
    }
    .info {
      > div {
        display: block;
      }
      .name {
        font-weight: bold;
        font-size: 1.2rem;
      }
      .desc {
        font-size: 0.9rem;
      }
    }
  }
}
