.schedules {
  .schedule {
    margin-bottom: 15px;
    padding-left: 30px;
    font-size: 1rem;
    display: flex;
    &.abstract {
      margin-top: -5px;
      font-size: small;
      padding-left: 80px;
      color: $grey700;
      background-color: $grey50;
      p {
        margin: 0;
      }
    }

    .abstract {
      margin-bottom: -15px;
      font-size: small;
      color: $grey700;
    }

    div {
      display: inline;
      vertical-align: middle;
      margin-right: 15px;
      //font-weight: bolder;
      //color: $primary-color;
    }
    .time {
      font-family: $code-font;
      color: $grey700;
      width: 110px;
      flex-grow: 0;
      flex-shrink: 0;
      font-size: small;
    }
    .topic {
      font-weight: bolder;
    }
    .speaker,
    .moderator {
      font-style: italic;
    }
    &.type-remark {
      background-color: $blue50;
    }
    &.type-talk {
      background-color: white;
    }
    &.type-break {
      background-color: $yellow50;
    }
    &.type-panel {
      background-color: $green50;
    }
    .info {
      > div {
        display: block;
      }
      .name {
        font-weight: bold;
        font-size: 1.2rem;
      }
      .desc {
        font-size: 0.9rem;
      }
    }
  }
}
